// here is where you can customize the theme
body {
   letter-spacing: $letter-spacing;
}

.navbar {
   .nav-link {
      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight: 600;
      letter-spacing: $letter-spacing;
   }
}

.navbar-brand {
   img {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-right: 0.5rem;
      vertical-align: middle;
   }

   .title {
      font-size: 0.8rem;
      line-height: 1;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: $letter-spacing;

      .first-name,
      .last-name {
         font-weight: 600;
      }
   }
}

//

.sep__header {
   height: 64px;
}
// #hero
#hero {
   //background-image: url('../images/hero-img.jpg');
   background-color: $white;
   background-size: cover;
   background-position: top;
   @include media-breakpoint-up(lg){
      display: grid;
      grid-template-columns: 1fr 1fr;

     

   }

   @include media-breakpoint-down(lg){
      display: block;
      .hero-text{
          border-right: none  !important;
        
         border-bottom: $border-width solid $border-color;
      }
   }

   & > div {
      &:nth-child(1) {
         padding: 2rem;
      }
   }

   p,
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
   }

   // p.hello
   p.hello {
      font-size: 3rem;
      font-weight: 100;
      letter-spacing: $letter-spacing;
      margin: 0;
   }

   // h1.me
   h1.me {
      font-size: 2rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: $letter-spacing;
      margin: 0;
      display: inline-block;
   }

   // p.description
   p.description {
      font-size: 1.5rem;
      font-weight: 100;
      letter-spacing: $letter-spacing;
      margin: 0;
   }
}

// .btn

.btn {
   font-weight: 600;
   text-transform: uppercase;
   letter-spacing: $letter-spacing;
}

// social links
.social-link {
   display: inline-block;
   color: black;
   text-decoration: none;
   padding: 0.5rem 0.3rem 0.5rem 0.5rem;
   border-radius: 4px;

   line-height: 1;
   font-size: 1rem;
}
/*
// .btn facebook
.btn-facebook {
   background: #3b5998;

   transition: all 0.3s ease-in-out;

   &:hover {
      background: #2d4373;
      color: #fff;
   }
}

// .btn twitter
.btn-twitter {
   background: #1da1f2;

   transition: all 0.3s ease-in-out;

   &:hover {
      background: #0d8fd5;
      color: #fff;
   }
}

// .btn linkedin
.btn-linkedin {
   background: #0077b5;

   transition: all 0.3s ease-in-out;

   &:hover {
      background: #005e8f;
      color: #fff;
   }
}

// .btn github
.btn-github {
   background: #333;

   transition: all 0.3s ease-in-out;

   &:hover {
      background: #000;
      color: #fff;
   }
}

// .btn instagram
.btn-instagram {
   background: #e4405f;

   transition: all 0.3s ease-in-out;

   &:hover {
      background: #c32f4b;
      color: #fff;
   }
}

// .btn youtube
.btn-youtube {
   background: #ff0000;

   transition: all 0.3s ease-in-out;

   &:hover {
      background: #cc0000;
      color: #fff;
   }
}

*/
// img.my-picture
img.my-picture {
   width: 200px;
   height: 200px;
}

// section.section
section.section {
   position: relative;
}

// div.card.card-intro
div.card.card-intro {
   background: $light;
   height: 360px;

   h2 {
      text-transform: uppercase;
      font-size: 1.5rem;
   }
}

//
.project-img,
.blog-img {
   width: 100%;
   height: 360px;
   object-fit: cover;
   object-position: center;

   background-image: url("../images/1.jpg");
   background-size: cover;
   background-position: center;
}

// section contact
section#contact {
}

// form-group
.form-group {
   margin-bottom: 1rem;

   label {
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
   }
}

// ul
ul {
   line-height: 2.5;
}

// right grid

.right-grid {
   display: grid;
   grid-template-columns: auto 200px;

   & > div {
      &:nth-child(1) {
      }
      &:nth-child(2) {
      }
   }
}

.my-info {
   display: grid;
   grid-template-columns: auto;
   & > div {
      padding: 2rem;
   }
}

// about
#about {
   display: grid;
   grid-template-columns: 1fr 1fr;
   & > div {
      &:nth-child(1) {
         padding: 2rem;
      }
      &:nth-child(2) {
         padding: 2rem;
      }
   }
   @include media-breakpoint-down(lg){
      display: block;
       .left--section{
            border-right: none  !important;
         
            border-bottom: $border-width solid $border-color;
       }  
   }
}

//
.infos {
   background: linen;
}
